* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  align-self: flex-end;
  align-items: center;
}

.site-user-btn {
  font-size: 1.5em;
  border: 1px dotted black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin: 8px;
  width: 75%;
  
  text-decoration: none;
  color: black;

  transition-duration: 150ms;
  transition-timing-function: ease;
}

.site-user-btn:hover {
  font-size: 2em;
  margin: 4px;
}

.site-user-header {
  font-size: 3em;
  border: 1px dotted black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin: 8px;
  width: 75%;
}

.small-details {
  text-align: left;
  font-size: 1.1rem;
}

#side-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: pink;
  width: 25vw;
  height: 100vh;
  border-right: 2px dotted black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#copy {
  position: absolute;
  bottom: 1.5rem;
}

.nav-btn {
  font-size: 1.5em;
  border: 1px dotted black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin: 8px;
  width: 50%;

  text-decoration: none;
  color: black;
}

p {
  text-align: left;
  font-size: 1.4rem;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

a {
  color: black;
}

ul {
  text-align: left;
  font-size: 1.2rem;
}

.read-me {
  width: 75%;
}